---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

$link-color:         #c44536;
$link-color-hover:   #933428; // ~25% black mixed in
$link-color-visited: #d07469; // ~25% white mixed in

@import "minimal-mistakes"; // main partials

.feature__item .archive__item-teaser {
  height: 240px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain; // use conver to crop images to fill the box; contain to show the full image
  }
}
